.figure {
    background-color: black;
    border-color: brown;

    margin-top: 20px;
    margin-left: 150px;

    position: relative;
}

.contenedor-imagenes {
    position: static;
    background-color: grey;
    margin: 200px;

    border-width: 20cm;
    border-color: blue;
}